

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
      direction: ltr;

=======
>>>>>>> addfile
}

.coc-background-red,
.coc-hover-red:hover {
<<<<<<< HEAD
  color: #fff !important;
=======
  color: var(--white) !important;
>>>>>>> addfile
  background-color: var(--red) !important
}

.coc-background-yellow,
.coc-hover-yellow:hover {
<<<<<<< HEAD
  color: rgb(0, 0, 0) !important;
=======
  color: var(--black) !important;
>>>>>>> addfile
  background-color: var(--yellow) !important
}

.coc-background-black,
.coc-hover-black:hover {
<<<<<<< HEAD
  color: #fff !important;
=======
  color: var(--white) !important;
>>>>>>> addfile
  background-color: var(--black) !important
}

.coc-background-white,
.coc-hover-white:hover {
  color: var(--black) !important;
  background-color: var(--white) !important
}


.coc-zoom,
.coc-zoom-hover:hover {
  transition: transform .2s;
}

.coc-zoom-hover.small:hover {
  transform: scale(1.2);
}

.coc-zoom-hover.mid:hover {
  transform: scale(1.5);
}

.coc-zoom-hover.large:hover {
  transform: scale(2);
}

.coc-zoom-hover.Xlarge:hover {
  transform: scale(4);
}



h1 {
  font-size: 36px;
  font-family: var(--primary-font)
}

h2 {
  font-size: 30px;
  font-family: var(--primary-font)
}

h3 {
  font-size: 24px;
  font-family: var(--primary-font)
}

h4 {
  font-size: 20px;
  font-family: var(--primary-font)
}

h5 {
  font-size: 18px;
  font-family: var(--primary-font)
}

h6 {
  font-size: 16px;
  font-family: var(--primary-font)
}

.coc-round-small {
  border-radius: 2px
}

.coc-round-medium {
  border-radius: 4px
}

.coc-round-large {
  border-radius: 8px
}

.coc-round-xlarge {
  border-radius: 16px
}

.coc-round-xxlarge {
  border-radius: 32px
}

.coc-padding-small {
  padding: 4px 8px !important
}

.coc-padding {
  padding: 8px 16px !important
}

.coc-padding-large {
  padding: 12px 24px !important
}


.coc-padding-t-b-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.coc-padding-t-b-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}

.coc-padding-t-b-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.coc-padding-t-b-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important
}

.coc-padding-t-b-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important
}


.header {
<<<<<<< HEAD
  background-color: lightcoral;
=======
  background-color: var(--header-background);
>>>>>>> addfile
  height: 8%;
  width: 100%;
  overflow: auto;
}

.main-body {
<<<<<<< HEAD
  background-color: lightgray;
=======
  background-color: var(--main-body-background);
>>>>>>> addfile
  height: 84%;
  text-align: center;
}

.body-left-column {
  width: 15%;
  float: left;
<<<<<<< HEAD
  background-color: lightpink;
=======
  background-color: var(--body-left-column-background);
>>>>>>> addfile
  height: 100%;
  overflow: auto;
}

.body-center {
  width: 70%;
  float: left;
<<<<<<< HEAD
  background-color: lightyellow;
=======
  background-color: var(--body-center-background);
>>>>>>> addfile
  height: 100%;
  overflow: auto;
}

.body-center-header{
  width: 100%;
  float: left;
<<<<<<< HEAD
  background-color: lightyellow;
=======
  background-color: var(--body-center-header-background);
>>>>>>> addfile
  height: 8%;
  overflow: auto;
}
.body-center-content{
  width: 100%;
  float: left;
<<<<<<< HEAD
  background-color: lightyellow;
=======
  background-color: var(--body-center-content-background);
>>>>>>> addfile
  height: 92%;
  overflow: auto;
}
.body-right-column {
  width: 15%;
  float: left;
<<<<<<< HEAD
  background-color: lime;
=======
  background-color: var(--body-right-column-background);
>>>>>>> addfile
  height: 100%;
  overflow: auto;
}

.footer {
<<<<<<< HEAD
  background-color: magenta;
=======
  background-color: var(--footer-background);
>>>>>>> addfile
  height:8%;
}