:root {
    --primary: #286090;
    --secondary: #4381b8;
    --light-primary: #4381b877;
    --checked-button:#2196F3;
    --gray-check-box:#ccc;
    --background-check-box:#eee;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --black: #343a40;
    --white: #f8f9fa;
    --primary-font: Arial;
    --yellow: #fbff07;
    --red: #ff0000;
<<<<<<< HEAD
=======
    --header-background:lightcoral;
    --main-body-background:lightgray;
    --body-left-column-background: lightpink;
    --body-center-background: lightyellow;
    --body-center-header-background:lightyellow;
    --body-center-content-background:lightyellow;
    --body-right-column-background:lime;
    --footer-background : magenta;
    --webkit-scrollbar-thumb-color : rgba(0, 0, 0, 0.15);
>>>>>>> addfile
    --primary-font: Arial;
    --border-radius: .3em;
    --quick-transition: .3s ease-in-out;
    --slow-transition: .5s ease-in-out;


}